@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 209, 209);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire{
    width: 400px;
    min-height: 80vh;
    background-color:#fff ;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;  

}
.action_btnn{
    width: 80%;
    background-color:#fd9c1d ;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.09) 0px 3px 12px;

}
.action_btn{
    padding: 1em; 
    width: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fff; 
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer; 


}
.move_btn{
    position: absolute;
    width: 50%;
    height: 91%;
    margin: 2px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    color:#fd9c1d;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    transform: translateX(0); 
    transition: all 0.2s ease-in-out;
   
}
.move_btn_click{
    transform: translateX(97.6%); 
     transition: all 0.2s ease-in-out;
     color: #fd9c1d;
}
.inputgrp{
    background-color: rgba(245, 245, 245, 245);
    width: 300px;
    margin: 0.8em 0;
    border-radius: 20px;
    /* box-shadow: rgba(0,0,0,0.12) 0px 2px 3px ,rgba(0, 0, 0,0.24) 0px 1px 2px; */
    font-weight: 500;
}
.inputgrp input{
    background-color: transparent;
    padding: 1em 1.5em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
}
.inputgrp input:invalid:focus{
    border: 1px solid rgb(223, 101, 101);
    border-radius:20px ;
    outline: none;
}

.submit_btn{
    width: 150px;
    padding: 1em;
    border-radius: 50px;
    outline: none;
    color: #fff;
    border: none;
    background-color: #fd9c1d;
    box-shadow: rgba(0,0,0,0.12) 0px 2px 3px ,rgba(0, 0, 0,0.24) 0px 1px 2px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}
.submit_btn:hover{
    color: #fd9c1d;

    background-color: #fff;
}
.form{
    display: none;
}
.form_inscris{
    display: block;
}
.form_conne{
    display: block;
}